@import 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css';
body, html, #root {
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(#fff, 0.5);
  }
  &:before {
    content: "";
    position: absolute;
    background: url('logo.svg') 0 0 no-repeat;
    animation: App-logo-spin infinite 2s linear;
    background-size: cover;
    z-index: 1;
    width: 185px;
    height: 130px;
    left: 0;right: 0;top: 0;bottom: 0;margin: auto;

  }
}

.toolbar {
  padding-top: 20px;
  margin-bottom: 20px;
  p {
    line-height: 34px;
  }
}

.list-item {
  background: #ffffff;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  padding: 10px;
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.item-story {
  font-size: 12px;
  color: #999999;
  margin: 0;
  height: 44px;
  line-height: 1.25;
  overflow: hidden;
}
.item-title {
  font-size: 18px;
  color: #000000;
  font-weight: normal;
  margin: 0 0 5px;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}